.header {
    font-size: 60px;
    font-weight: bold;
    font-style: italic;
}
.sitebtn {
	display: inline-block;
	min-width: 196px;
	text-align: center;
	border: none;
	padding: 15px 10px;
	font-weight: 600;
	font-size: 16px;
	position: relative;
	color: #fff;
	cursor: pointer;
	background: #d82a4e;
}
.headersection {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	padding-top: 60px;
}
.container {
	margin-bottom: -34px;
}

.headerbtn {
    min-width: 160px;
}
.sitelogo {
	display: inline-block;
}

.navswitch {
    display: block;
    float: right;
    color: #333;
    font-size: 25px;
    width: 40px;
    height: 40px;
    background: #fff;
    text-align: center;
    padding-top: 2px;
    -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
}

.mainmenu {
    background: #fff;
    margin-top: 22px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    /* 
    display: none; */
    z-index: 999;
}
.mainmenu ul li {
    display: block;
}
.mainmenu ul li a {
    margin-left: 0;
    padding: 17px 25px;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    color: #474747;
}

.mainmenu ul {
	list-style: none;
}

/* .mainmenu ul li {
	display: inline;
} */

.mainmenu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 45px;
	font-weight: 600;
	padding: 20px 0 5px;
}

.mainmenu ul li a:hover {
	color: #d82a4e;
}

.header-btn {
	float: right;
	margin-right: 0;
}

.nav-switch {
	display: none;
}